@CHARSET "UTF-8";
li{
	list-style: none;
	float: left;
	margin-left: 10px;
	margin-top: -5px;
}
a{
	text-decoration: none;
	color: #222;
}
.home{
	float: left;
	margin-left: -50px;
	padding-left: 2px;
	background: url(../img/icons.png) -920px -84px no-repeat;
}

.friend{
	float: left;
	margin-left: 5px;
}
#head_mid_nav{
	width: 379px;
	height: 42px;
}
#head_all{
	background:white;
	position: relative;
	left: 0px;
	top: 0px;
}
#head_mid{
	width: 980px;
	height: 42px;
	margin: -1px auto 0px;
	position: relative;
}
.clearFix:after{
	content: none;
	display: block;
	clear: both;
}
.nav{
	padding-left: 20px;
	font-size: 13px;
}
/*======================超链接激活时显示蓝色==================*/
a:hover{
	color: dodgerblue;
}
#head_mid_select{
	width: 171px;
	height: 42px;
	float: right;
	margin-right: -4px;
	margin-top: -58px;
}
#tougaoqu{
	float: right;
	margin-top: -30px;
	font-size: 13px;
}
#tougaoqu{
	width: 58px;
	height: 48px;
	text-align: center;
	background: url(../img/b-post.png);
	/*此处为了覆盖下面的背景图片，使用了浮动*/
	position: absolute;
	font-size: 14px;
	left: 912px;
	top: 15px;
	z-index: 2;
}
#tougaoqu #i_tougao{
	position: relative;
	top: 11px;
	color: white;
}
#i_account{
	position: relative;
	top: 2px;
	right: 34px;
	font-size: 13px;
}
#i_account .i_select{
	float: right;
	margin-right: 10px;
}
#i_regist{
	padding-left: 10px;
}
/*================右上角的小竖线================*/
.little_split{
	float: right;
	height: 12px;
	border-left: solid 1px #222;
	margin-top: 4px;
}

#head_mid_search{
	height: 32px;
	position: absolute;
	left: 669px;
	top: -10px;
}
#head_mid_search #user_search_input{
	padding-left: 10px;
	border-radius: 16px;
	border: solid 1px #ccd0d7;
	width: 107px;
	height: 28px;
	font-size: 12px;
	color: darkgray;
}

#head_mid_search #confirm_search{
	display: none;
	height: 20px;
	width: 20px;
}
#head_mid_search #replace_confirm_sear{
	position: absolute;
	float: right;
	width: 20px;
	height: 20px;
	background: url(../img/icons.png) -791px -728px no-repeat;
	top: 7px;
	left: 95px;
}
#nextheader{
	position: absolute;
	top: 42px;
	left: 0px;
	width: 100%;
	height: 86px;
	background: #00a0d8;
	z-index: 1;
}
#mid_bg{
	width: 980px;
	height: 106px;
	margin: 0px auto;
	background: url(../img/rl_top.png) no-repeat;
}
/*============================下面的BODY部分=========================*/
#pagebody{
	margin: 90px auto;
	width: 980px;
	height: 364px;
}
#pagebody_top{
	width: 980px;
	height: 28px;
	border-bottom: solid 2px #f1f1f1;
}

/*===========================中间的登录大字==========================*/
#pic_zhuce{
	width: 120px;
	height: 47px;
	margin: 91px auto 0;
	background: url(../img/t1.png);
}
/*===========================下面的注册表单==========================*/
/*所有左浮动*/
.float_left{
	float: left;
}

#pagebody_undear{
	width: 980px;
	height: 457px;
}
#pagebody_undear #pagebody_center{
	width: 415px;
	margin: 23px auto 0;
	/*background: greenyellow;*/		 /*================以后去掉================*/
}
.input_div{
	float: left;
	width: 415px;
	height: 36px;			 /*================以后去掉================*/
}
/*昵称，密码，验证码框框*/
#nickname,#pwd,#yanzhengma{
	width: 404px;
	height: 38px;
	border-radius: 2px;
	border: solid 1px #dfdfdf;
	padding-left: 10px;
	font-size: 12px;
}
/*号码归属地选择*/
#country{
	width: 91px;
	height: 40px;
	color: #717171;
	font-size: 12px;
}
/*号码输入框*/
#phone_number_input{
	margin-left: 6px;
	width: 304px;
	height: 36px;
	border-radius: 2px;
	border: solid 1px #dfdfdf;
	padding-left: 10px;
	font-size: 12px;
}
/*通过邮箱注册链接*/
#email_reigst{
	display: inline-block;
	float: right;
	margin-top: 20px;
	font-size: 12px;
	color: #00A0D8;
}
/*给中间的一些超链接加样式*/
.regist_lianjie{
	font-size:12px;
	color: #00A0D8;
}
#pagebody_undear .regist_lianjie:hover{
	color: hotpink;
}

#pwd_place,#phone_place{
	margin-top: 46px;
}
#yanzheng_place{
	margin-top: 9px;
}
/*获取验证码*/
#get_yanzhengma{
	float: right;
	display: inline-block;
	margin-top: -34px;
	font-size: 12px;
	width: 128px;
	height: 36px;
	color: white;
	background: #00a1d6;
	border: solid 1px #00a1d6;
	border-radius: 2px;
}
/*让里面的文字居中*/
#get_text{
	float: left;
	margin-top: 9px;
	margin-left: 40px;
}
#get_yanzhengma:hover{
	background: deepskyblue;
}
/*用户同意条款*/
#agree_place{
	font-size: 12px;
	float: left;
	margin-top: 23px;
	color: #717171;
	width: 415px;
	height: 12px;
}
#agree_button{
	float: left;
	margin-top: 0px;
	margin-left: 0px;
}
/*注册提交按钮*/
#submit{
	float: left;
	width: 415px;
	height: 42px;
	background: #f9f9f9;
	color: #aaa;
	border: solid 1px ghostwhite;
	border-radius: 2px;
	margin-top: 49px;
}
/*最后面直接登录的链接*/
#to_login{
	margin-top: 14px;
	float: right;
}
/*==========================底部的===========================*/
#footer{
	width: 100%;
	height: 280px;
	background: #F6F9FA;
	float: left;
	margin-top: 34px;
}
#footer #foot_mid{
	width: 980px;
	height: 200px;
	margin: 30px auto;
	/*background: gainsboro;*/            /* =============以后去掉============*/
}
#footer #foot_mid #foot_mid_top{
	width: 980px;
	height: 100px;
	font-size: 14px;
	/*background: pink;*/				/* =============以后去掉============*/
}
.many_links,.foot_nav{
	width: 86px;
	height: 22px;
	float: left;

	/*border: solid 1px black;*/			/* =============以后去掉============*/
}

.foot_nav{
	color: #717171;
}


#foot_mid_top_left,#foot_mid_top_mid,#foot_mid_top_right{
	float: left;
}

#foot_mid_top_left{
	width: 306px;
	height: 100px;
	/*background: pink;*/				/* =============以后去掉============*/
}
.foot_nav{
	width: 306px;
	margin-top: 1px;
}
/*#about_us_one,#about_us_two{
	margin-top: 12px;
}*/
.first_level{
	margin-top: 12px;
}
#about_us_three{
	width: 100px;
	height: 36px;
	margin-top: 16px;
	background: url(../img/b-taobao.png);
}
#about_us_three #bilibili_taobao{
	padding: 0 100px 18px 0;
}
#about_us_four,#about_us_five{
	position: relative;
	top: -18px;
}

#foot_mid_top_mid{
	width: 336px;
	height: 100px;
	border-left: solid 1px #e5e9ef;			
	
}

#foot_mid_top_right{
	width: 336px;
	height: 100px;
	border-left: solid 1px #e5e9ef;			
}

#help_center_one,#help_center_four,#foot_nav_two{
	margin-left: 30px;
}
#help_center_three{
	margin-left: 20px;
}
#help_center_five{
	width: 120px;
}
/*#help_center_one,#help_center_two,#help_center_three{
	margin-top: 12px;
}*/
#gateway_one,#gateway_four,#gateway_seven,#gateway{
	margin-left: 30px;
}
/*=====================最后的声明=================*/
#foot_mid_under_left{
	height: 76px;
	width: 650px;
	/*background: greenyellow;  */             /* =============以后去掉=============*/
	margin-top: 23px;
}

.last_foot_blocks{
	height: 80px;
	float: left;
}
#foot_one{
	width: 106px;
	height: 76px;
	background: url(../img/footpic.gif) no-repeat;
}
#foot_two{
	width: 268px;
	margin-top: -6px;
	margin-left: 10px;
}
#foot_three{
	width: 214px;
	height: 48px;
}
.foot_span{
	font-size: 12px;
	/*display: inline-block;*/
	color: #717171;
	float: left;
	margin-top: 7px;
}
#foot_three{
	width: 214px;
	height: 48px;
	margin-top: -6px;
	margin-left: 8px;
}

#foot_mid_under_right{
	float: right;
	margin-top: -76px;
	width: 310px;
	height: 80px;
}
#foot_mid_under_right a{
	text-align: center;
	display: inline-block;
}
#pic_phone,#pic_weibo,#pic_weixin{
	width: 65px;
	height: 65px;
	text-align: center;
}
.last_links{
	font-size: 12px;
	position: relative;
	top: -5px;
}
#pic_phone{
	background: url(../img/icons.png) -1025px -193px no-repeat;
}
#pic_weibo{
	background: url(../img/icons.png) -1025px -321px no-repeat;
}
#pic_weixin{
	background: url(../img/icons.png) -1025px -65px no-repeat;
}
#weixin,#weibo{
	margin-left: 20px;
}
